.input {
    width: 100%;
    height: 30px;
    margin-bottom: 30px;
}

.table {
    text-align: center;
    border: 1px solid #d7d7d7;
    border-collapse: collapse;

    &__header {
        border: 1px solid #d7d7d7;
        padding: 10px;
    }

    &__data {
        border: 1px solid #d7d7d7;
        padding: 10px;
    }
}
