.nav-list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    background-color: #333333;
    padding: 14px;
    margin-bottom: 30px;

    &__link {
        padding: 14px 16px;
        font-size: 16px;
        color: #bdbdbd;
        text-decoration: none;

        &:hover, &:focus {
            color: #FFFFFF;
            background-color: #212121;
            transition: .5s;
            cursor: pointer;
        }
    }
}

.active {
    color: #FFFFFF;
    background-color: #212121;
}